body {
  text-align: center;
  background-color: pink; }
  body .head {
    background-color: gray; }
    body .head h1 {
      color: 0; }
    body .head a {
      text-decoration: none;
      color: black; }
  body .body {
    background-color: bisque; }
    body .body p {
      color: 0; }
  body .footer {
    background-color: aliceblue; }
    body .footer a {
      text-decoration: none;
      color: black;
      margin: 50px; }
